body{
  font-size: 1.5rem;
  margin: 0 10rem 0 10rem;
        background-color: #92ad91;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1.3rem;
        background-image: none;
        background-color: #92ad91;
        margin: 0 0.2rem 0 0.2rem;
    }
}
